<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221566654667-0iup24n67gjpdg5ieb6hsqeka9q1n191.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221566654667-0iup24n67gjpdg5ieb6hsqeka9q1n191</string>
	<key>API_KEY</key>
	<string>AIzaSyAXzuH_JBjKAspEzJR45Bp1-Z54LQpXNJM</string>
	<key>GCM_SENDER_ID</key>
	<string>221566654667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>don.kusao2-1.FirstPhase</string>
	<key>PROJECT_ID</key>
	<string>firstphase-44c74</string>
	<key>STORAGE_BUCKET</key>
	<string>firstphase-44c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221566654667:ios:4a5e64bca5f8fb85dca34e</string>
</dict>
</plist>